{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="content">
        <h1>LOFTI</h1>
        <p>Bienvenue chez LOFTI expert en qualité d'air</p>
        <div>
            {% if not app.user %}
                <button type="button"><span></span><a href="{{ path('security_login') }}">Connexion</a></button>
            {% else %}
                <button type="button"><span></span><a href="{{ path('security_logout') }}">Deconnexion</a></button>
            {% endif %}
            <button type="button"><span></span><a href="{{ path('contact') }}">Nous contacter</a></button>
        </div>
    </div>

{% endblock %}
